# این فایل را کپی کنید به یک فایل جدید به اسم ".env" (بدون .example) و مقادیر را عوض کنید.
# فایل .env هرگز نباید وارد گیت بشه (در .gitignore هست).

DJANGO_SECRET_KEY=یک-رشته-تصادفی-طولانی-اینجا-جایگزین-کنید
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,آدرس-داخلی-سرور-شما
